{% block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form role="form" class="{{form.vars.form_class is defined ? form.vars.form_class : ''}}" name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start %}
        
{% block form_row %}
{% spaceless %}
    <div class="form-group {{form.parent.vars.form_group_div_class is defined ? form.parent.vars.form_group_div_class : ''}}">
        <div class="{{form.parent.vars.label_div_class is defined ? form.parent.vars.label_div_class : ''}}">{{ form_label(form) }}</div>
        <div class="{{form.parent.vars.widget_div_class is defined ? form.parent.vars.widget_div_class : ''}}">{{ form_widget(form) }}</div>
        <div class="">{{ form_errors(form) }}</div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_widget_simple -%}
    {% set type = type|default('text') -%}

    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    
{%- endblock form_widget_simple %}
    
{% block textarea_widget -%}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-circle"></i>  {{ error.message|trans({}, translation_domain) }}
            </div>
        {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
    
{% block choice_widget_collapsed -%}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {% endif %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {%- endif %}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {% if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif %}
        {%- endif -%}
        {% set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed %}
    
{% block checkbox_widget -%}
    {%set addFormControl = false %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget %}
    
{% block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if read_only %} readonly="readonly"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    
    {% set hasClass = false%}
    {% if type is defined and type == 'file' %}
        {% set addFormControl = false %}
    {% endif %}
    
    {%- for attrname, attrvalue in attr -%}
        
        {%if attrname =="class"%}{% set hasClass = true%}{%endif%}
    
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as (true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as (false) -%}
            {#add the form control class#}
            {{- attrname }}="{{ attrvalue }}{%if attrname =="class" and (addFormControl is not defined or addFormControl)%} form-control{%endif%}"
        {%- endif -%}
    {%- endfor -%}
        {%if not hasClass and (addFormControl is not defined or addFormControl)%}
            class="form-control"
        {%endif%}
{%- endblock widget_attributes %}

{%- block form_label -%}
    {% if label is not same as (false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {%- if label_format is defined and label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{required ? '* ' : ''}}{{ label|trans({}, translation_domain) }}</label>
    {%- endif -%}
{%- endblock form_label -%}